h1, p {
  font-family: Lato;
}

body {
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: -8px;
  padding: 0;
}

.video {
  opacity: 0.1;
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
